/var/*
!/var/.gitignore

/public/assets
/public/bundles
/public/css
/public/js
/public/media
!/public/media/image/.gitignore

/vendor
/node_modules/*
!/node_modules/.gitkeep

/.env
/.env.prod
/.env.staging
/.env.test
/.env.test_cached
